.post-form {
	position: fixed ;
	margin-inline: auto; 
	min-width: 400px;
	max-width: 400px;
	padding: 20px;
	background-color: var(--bg-color-focus);
}

.post-form-button {
	font-size: 1.5em;
	filter: drop-shadow(0px 0px 10px var(--color));
}

.post-cancel-button {
	font-size: 1.5em;
}

.title-input {
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.post-form {
		min-width: 300px;
		max-width: 95vw;
	}
}